* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

@font-face {
  font-family: "Nunito";
  src: url("../../font/Nunito/Nunito-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Nunito";
  src: url("../../font/Nunito/Nunito-Light.ttf") format("ttf");
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url("../../font/Oswald/Oswald-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

input {
  padding: 0.5em 0.8em;
  border-radius: 5px;
  border: 0;
  width: 300px;
  font-family: "Oswald";
  color: #4d8b31;
  outline-color: #4d8b31; }
  @media (max-width: 320px) {
    input {
      width: 260px; } }

.btn-search {
  width: 300px;
  border-radius: 5px;
  margin: 0.5em 0;
  font-family: "Oswald";
  transition: all 0.35s;
  background-color: #43782a;
  border: 0;
  padding: 0.4em 0;
  color: white;
  cursor: pointer;
  outline-color: #ffc800; }
  @media (max-width: 320px) {
    .btn-search {
      width: 260px; } }
  .btn-search:hover {
    transform: translateY(-5px); }
  .btn-search:active {
    transform: translateY(5px); }

.navigation {
  display: flex;
  align-items: center;
  background-color: #4d8b31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2341762a' fill-opacity='0.19'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.19'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  justify-content: space-between;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(56, 101, 36, 0.42);
  -moz-box-shadow: 3px 4px 5px 0px rgba(56, 101, 36, 0.42);
  box-shadow: 3px 4px 5px 0px rgba(56, 101, 36, 0.42); }
  @media (max-width: 420px) {
    .navigation {
      display: flex;
      flex-flow: column; }
      .navigation .options {
        margin-bottom: 0.8em; } }
  .navigation .brand {
    padding: 0.5em 0.7em; }
    .navigation .brand h1 {
      font-family: "Nunito";
      color: white; }
  .navigation .menu {
    position: fixed;
    right: -210px;
    bottom: 0;
    background-color: #1e212b;
    height: 100vh;
    padding: 1em;
    z-index: 10;
    width: 200px;
    transition: all 0.4s;
    -webkit-box-shadow: -4px 2px 11px 1px rgba(30, 33, 43, 0.51);
    -moz-box-shadow: -4px 2px 11px 1px rgba(30, 33, 43, 0.51);
    box-shadow: -4px 2px 11px 1px rgba(30, 33, 43, 0.51); }
    .navigation .menu .hamburger {
      position: absolute;
      right: 230px;
      bottom: 20px;
      cursor: pointer;
      transition: all 0.4s; }
      .navigation .menu .hamburger:hover {
        transform: translateY(-5px); }
      .navigation .menu .hamburger:active {
        transform: translateY(5px); }
      .navigation .menu .hamburger span {
        display: block;
        height: 5px;
        width: 30px;
        margin: 5px 0;
        background-color: #386524; }
    .navigation .menu ul {
      font-family: "Oswald";
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      list-style-type: none;
      height: 100%; }
      .navigation .menu ul li {
        margin: 0.5em;
        transition: all 0.45s;
        border-radius: 5px;
        padding: 0.4em;
        user-select: none; }
        .navigation .menu ul li a {
          text-decoration: none;
          color: white; }
        .navigation .menu ul li:hover {
          background-color: white;
          transform: translateY(-5px); }
          .navigation .menu ul li:hover a {
            color: #4d8b31; }
        .navigation .menu ul li:active {
          transform: translateY(5px); }
  .navigation .active {
    right: 0; }
  .navigation .options {
    padding: 0 0.7em;
    width: 20em; }
    .navigation .options ul {
      list-style-type: none;
      font-family: "Oswald";
      display: flex;
      justify-content: space-evenly; }
      .navigation .options ul li a {
        transition: all 0.3s;
        font-size: 0.9em;
        color: white;
        text-decoration: none; }
        .navigation .options ul li a:hover {
          transform: translateY(-5px);
          color: #7dc65c; }
        .navigation .options ul li a:active {
          transform: translateY(10px);
          color: #ffc800; }

.hero-area {
  width: 100%;
  height: 80vh;
  position: relative; }
  @media (max-width: 1024px) {
    .hero-area {
      height: 100vh; } }
  .hero-area .overlay-gradient {
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 0;
    left: 0;
    z-index: 3;
    background-image: linear-gradient(to right, rgba(77, 139, 49, 0.4), rgba(255, 200, 0, 0.4)); }
    @media (max-width: 1024px) {
      .hero-area .overlay-gradient {
        height: 95vh; } }
  .hero-area video {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media (max-width: 1024px) {
      .hero-area video {
        height: 95%; } }
  .hero-area .hero-form {
    position: absolute;
    background-color: rgba(30, 33, 43, 0.6);
    padding: 1em;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 30vw;
    border-radius: 0.3em;
    display: flex;
    flex-flow: column;
    align-items: center; }
    @media (max-width: 1024px) {
      .hero-area .hero-form {
        width: 60%; } }
    @media (max-width: 420px) {
      .hero-area .hero-form {
        width: 95%; } }
    @media (max-width: 320px) {
      .hero-area .hero-form {
        width: 95%; }
        .hero-area .hero-form .pincode {
          margin: 0.2em auto; } }
    .hero-area .hero-form h1 {
      font-family: "Nunito";
      text-transform: uppercase;
      color: white;
      font-weight: 300; }
      @media (max-width: 400px) {
        .hero-area .hero-form h1 {
          font-size: 1.7em; } }
    .hero-area .hero-form .contact-info {
      font-family: "Nunito";
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .hero-area .hero-form .contact-info div {
        margin: 0.4em;
        font-size: 0.7em;
        color: white; }
    .hero-area .hero-form .pincode {
      display: flex;
      align-items: center;
      margin: 0.5em auto;
      font-family: "Oswald"; }
    .hero-area .hero-form .search {
      display: flex;
      align-items: center;
      font-family: "Oswald";
      font-size: 1.5em;
      display: flex;
      flex-flow: column;
      align-items: center; }

.our-services {
  width: 80vw;
  margin: 2em auto;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .our-services {
      width: 87vw; } }
  @media (max-width: 320px) {
    .our-services {
      width: 95vw; } }
  .our-services .lead-img {
    margin-right: 1em;
    position: relative; }
    @media (max-width: 768px) {
      .our-services .lead-img {
        display: none; } }
    .our-services .lead-img img {
      width: 25vw; }
    .our-services .lead-img h3 {
      position: absolute;
      top: 45%;
      left: 0;
      font-family: "Nunito";
      font-size: 2.5em;
      background-image: linear-gradient(to right, #ffc800, green);
      width: 25vw;
      margin: 0.5em auto;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      transform: translateY(-50%); }
      @media (max-width: 1024px) {
        .our-services .lead-img h3 {
          font-size: 2em; } }
  .our-services .services .list {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 420px) {
      .our-services .services .list {
        justify-content: center; } }
    .our-services .services .list .service {
      position: relative;
      margin: 0.3em;
      border-radius: 10px;
      height: 150px;
      overflow: hidden;
      -webkit-box-shadow: 2px 3px 5px 0px rgba(30, 33, 43, 0.35);
      -moz-box-shadow: 2px 3px 5px 0px rgba(30, 33, 43, 0.35);
      box-shadow: 2px 3px 5px 0px rgba(30, 33, 43, 0.35); }
      @media (max-width: 420px) {
        .our-services .services .list .service {
          height: 100px; } }
      .our-services .services .list .service img {
        width: 200px;
        height: 150px;
        object-fit: cover; }
        @media (max-width: 420px) {
          .our-services .services .list .service img {
            width: 140px;
            height: 100px; } }
      .our-services .services .list .service h4 {
        position: absolute;
        top: 75px;
        left: 0;
        font-family: "Oswald";
        background-color: white;
        width: 200px;
        text-align: center;
        transform: translateY(-50%); }
        @media (max-width: 420px) {
          .our-services .services .list .service h4 {
            top: 50px; } }
        @media (max-width: 420px) {
          .our-services .services .list .service h4 {
            width: 140px; } }
        .our-services .services .list .service h4 a {
          text-decoration: none;
          color: #4d8b31;
          font-weight: 400;
          padding: 0.3em 0;
          font-size: 1.3em; }
          @media (max-width: 420px) {
            .our-services .services .list .service h4 a {
              font-size: 1em; } }

.top-rated-products {
  min-height: 70vh;
  width: 100%;
  margin: 2em auto;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 1em; }
  @media (max-width: 768px) {
    .top-rated-products {
      margin-top: 4.5em; } }
  @media (max-width: 420px) {
    .top-rated-products {
      margin-top: 6em; } }
  .top-rated-products svg {
    margin-top: -2px; }
  .top-rated-products .heading {
    position: absolute;
    top: 2em;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1280px) {
      .top-rated-products .heading {
        top: 1.5em; } }
    @media (max-width: 1024px) {
      .top-rated-products .heading {
        top: -1em; } }
    @media (max-width: 768px) {
      .top-rated-products .heading {
        top: -3em; } }
    @media (max-width: 420px) {
      .top-rated-products .heading {
        top: -3.7em; } }
    @media (max-width: 320px) {
      .top-rated-products .heading {
        top: -4em; } }
    .top-rated-products .heading img {
      width: 200px; }
      @media (max-width: 420px) {
        .top-rated-products .heading img {
          width: 120px; } }
      @media (max-width: 320px) {
        .top-rated-products .heading img {
          width: 110px; } }
    .top-rated-products .heading h1 {
      font-family: "Nunito";
      text-transform: uppercase;
      color: transparent;
      letter-spacing: -1px;
      background-image: linear-gradient(to right, #43782a, #b38c00);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      font-size: 2.2em; }
      @media (max-width: 1280px) {
        .top-rated-products .heading h1 {
          font-size: 2em; } }
      @media (max-width: 768px) {
        .top-rated-products .heading h1 {
          font-size: 1.5em; } }
      @media (max-width: 420px) {
        .top-rated-products .heading h1 {
          font-size: 1em; } }
  .top-rated-products .product-list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start; }
    @media (max-width: 1280px) {
      .top-rated-products .product-list {
        width: 90%; } }
    @media (max-width: 420px) {
      .top-rated-products .product-list {
        width: 95%;
        justify-content: center; } }
    .top-rated-products .product-list .single-product {
      width: 200px;
      margin: 0.8em;
      background-color: white;
      border-radius: 8px;
      overflow: hidden;
      -webkit-box-shadow: 2px 3px 5px 0px rgba(30, 33, 43, 0.35);
      -moz-box-shadow: 2px 3px 5px 0px rgba(30, 33, 43, 0.35);
      box-shadow: 2px 3px 5px 0px rgba(30, 33, 43, 0.35); }
      @media (max-width: 420px) {
        .top-rated-products .product-list .single-product {
          width: 140px; } }
      .top-rated-products .product-list .single-product img {
        width: 200px;
        height: 230px;
        object-fit: contain; }
        @media (max-width: 420px) {
          .top-rated-products .product-list .single-product img {
            width: 140px;
            height: 200px; } }
      .top-rated-products .product-list .single-product h4 {
        padding: 0.5em;
        transition: all 0.4s; }
        .top-rated-products .product-list .single-product h4 a {
          text-decoration: none;
          font-family: "Oswald";
          font-size: 0.8em;
          color: #b83d34;
          font-weight: 400;
          transition: all 0.5s; }
        .top-rated-products .product-list .single-product h4:hover a {
          color: #4d8b31; }

.featured-brands {
  margin: 4em 0; }
  .featured-brands h1 {
    font-family: "Nunito";
    font-size: 2em;
    background-image: linear-gradient(to right, #4d8b31, #ffc800);
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    margin: 1em auto; }
    @media (max-width: 420px) {
      .featured-brands h1 {
        font-size: 1.5em;
        font-weight: 500; } }
  .featured-brands .brand-list {
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (max-width: 768px) {
      .featured-brands .brand-list {
        width: 90%; } }
    .featured-brands .brand-list .brand-card {
      margin: 2em;
      position: relative;
      width: 400px;
      -webkit-box-shadow: 2px 3px 5px 0px rgba(77, 139, 49, 0.35);
      -moz-box-shadow: 2px 3px 5px 0px rgba(77, 139, 49, 0.35);
      box-shadow: 2px 3px 5px 0px rgba(77, 139, 49, 0.35); }
      @media (max-width: 420px) {
        .featured-brands .brand-list .brand-card {
          margin: 1em; } }
      @media (max-width: 1024px) {
        .featured-brands .brand-list .brand-card {
          width: 300px; } }
      @media (max-width: 768px) {
        .featured-brands .brand-list .brand-card {
          width: 250px; } }
      .featured-brands .brand-list .brand-card img {
        width: 400px;
        height: 200px;
        object-fit: cover;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 100%, 63% 84%, 0 84%);
        object-position: top; }
        @media (max-width: 1024px) {
          .featured-brands .brand-list .brand-card img {
            width: 300px;
            height: 150px; } }
        @media (max-width: 768px) {
          .featured-brands .brand-list .brand-card img {
            width: 250px;
            height: 100px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 100%, 63% 74%, 0 74%); } }
      .featured-brands .brand-list .brand-card h4 {
        font-family: "Oswald";
        text-transform: uppercase;
        position: absolute;
        left: 10px;
        bottom: 3px;
        font-size: 1.3em; }
        @media (max-width: 1024px) {
          .featured-brands .brand-list .brand-card h4 {
            font-size: 1em;
            bottom: 2px; } }
        .featured-brands .brand-list .brand-card h4 a {
          text-decoration: none;
          color: #4d8b31;
          font-weight: 400;
          transition: all 0.4s; }
          .featured-brands .brand-list .brand-card h4 a:hover {
            color: #ac3931; }
