.login{
    height: 80vh;
    width : 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .login-container{
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        width : 300px;
        display: flex;
        flex-flow: column;
        h1{
            font-family: $nunito;
            text-transform: uppercase;
            font-size: 1.8em;
            color: white;
        }
        form{
            display: flex;
            flex-flow: column;
            input{
                margin : 0.2em 0;
                width : 300px;
            }
            button{
                padding : 0.5em 0.3em;
                border-radius: 5px;
                @include click_1;
                transition: all 0.3s;
                cursor: pointer;
                border: none;
                outline: none;
                font-family: $oswald;
                color : $green;
                margin-top: 0.7em;
            }
        }
    }
}

.features{
    display: flex;
    justify-content: space-evenly;
    margin : 2em 0;
    flex-wrap: wrap;
    .single-feature{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($green,0.5);
        padding : 1em;
        border-radius: 5px;
        width : 250px;
        margin : 0.5em 0;
        img{
            width : 80px;
            margin-bottom: 10px;
        }
        h4{
            color: $green;
            font-family: $nunito;
            text-transform: uppercase;

        }
    }
}


.verify-otp{
    height : 80vh;
    width : 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .verify-otp-container{
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        h1{
            font-family: $nunito;
            text-transform: uppercase;
            color: white;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width : 300px;
            scale: 1.5;
            input{
                width : 150px;
                border-radius: 5px 0 0 5px;
            }
            button{
                font-family: $oswald;
                padding : 0.5em 0.5em;
                border: 0;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                @include click_1;
                transition: all 0.3s;
                color: $green;
                background-color: white;
                outline: $green;
            }
        }
        .message{
            margin : 0.3em 0;
            font-family: $oswald;
            display: flex;
            align-items: center;
            font-size: 0.8em;
            color: $red;
            button{
                background-color: $red;
                color: white;
                border: none;
                padding : 0.2em 0.3em;
                cursor: pointer;
                transition: all 0.3s;
                @include click_1;
                outline: none;
            }
        }
    }
}