.order-medinices{
    .heading{
        margin : 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width : 10em;
            @media (max-width : 420px){
                width : 6em;
            }
        }
        h1{
            font-family: $nunito;
            text-transform: uppercase;
            font-size: 2em;
            @media (max-width : 420px){
                font-size: 1.1em;
            }
            @media (max-width : 320px){
                font-size: 0.9em;
            }
            @include gradient_text($green,$yellow);
        }
    }
    .search-medicine{
        margin : 2em auto;
        width : 80%;
        @media (max-width : 420px){
            width : 95%;
        }
        padding : 1.5em;
        border-radius: 5px;
        border : 1px solid rgba($green,0.5);
        background-color: rgba($green,0.2);
        .our-features{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .one-feature{
                display: flex;
                align-items: center;
                
                img{
                    width : 50px;
                    margin-right : 10px;
                    @media (max-width : 420px){
                        width : 25px;
                        margin-right : 4px;
                    }
                }
                h5{
                    font-family: $nunito;
                    text-transform: uppercase;
                    color: rgba($green,0.8);
                    @media (max-width : 420px){
                        font-size: 0.5em;
                    }
                }
            }
        }
        .search-input-container{
            margin : 2em auto;
            width : fit-content;
            h4{
                font-family: $oswald;
                font-size: 1.6em;
                color: $green;
                font-weight: 400;
                text-align: center;
                margin-bottom: 0.5em;
                @media (max-width : 420px){
                    font-size: 1.1em;
                }
                @media (max-width : 320px){
                    font-size: 0.8em;
                }
            }
            .search-field{
                display: flex;
                align-items: center;
                @media (max-width : 420px){
                    flex-flow: column;
                }
                input{
                    font-size: 1.1em;
                    border-radius: 0;
                    outline: none;
                    @media (max-width : 420px){
                        width : 100%;
                        border : none;
                        margin-bottom: 0.3em;
                        border-radius: 5px;
                    }
                }
                .pincode{
                    width : 150px;
                    border-right: 2px solid rgba($green,0.7);
                    border-radius: 5px 0 0 5px;
                    @media (max-width : 420px){
                        width : 100%;
                        border : none;
                    }
                }
                .search-med{
                    font-size: 1.1em;
                    padding : 10px 20px;
                    background-color: $green;
                    border: none;
                    outline: none;
                    transition: all 0.4s;
                    @include click_1;
                    color: white;
                    cursor: pointer;
                    border-radius: 0 5px 5px 0;
                    @media (max-width : 420px){
                        width : 100%;
                        border : none;
                        margin-bottom: 0.3em;
                        border-radius: 5px;
                    }
                }
            }
            
        }
        .order-by-prescription{
            display: flex;
            align-items: center;
            margin : 0 auto;
            width: fit-content;
            img{
                width : 50px;
                @media (max-width : 420px){
                    width : 40px;
                    
                }
            }
            h4{
                a{
                    text-decoration: none;
                    font-family: $nunito;
                    text-transform: uppercase;
                    font-size: 1.1em;
                    color: rgba($green,0.8);
                    @media (max-width : 420px){
                        font-size: 0.9em;
                    }
                    @media (max-width : 320px){
                        font-size: 0.8em;
                    }

                }
            }
        }
    }
}

.testimonials{
    margin : 3em 0;
    .heading{
        display: flex;
        align-items: center;
        width : fit-content;
        margin: 1em auto;
        img{
            width : 7em;
        }
        h1{
            font-family: $nunito;
            font-size: 2em;
            text-transform: uppercase;
            @include gradient_text($green,$yellow);
        }
        @media (max-width : 420px){
            img{
                width : 6em;
            }
            h1{
                font-size: 1.3em;
            }
        }
    }
    .testimonial-list{
        width: 80%;
        @media (max-width : 420px){
            width : 90%;
        }
        margin : 2em auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        
        .single-testimonial{
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin : 0.5em 0;
            @media (max-width : 420px){
                margin : 1em 0;
            }
            &:nth-child(odd){
                flex-flow: row-reverse;
            }
            .user{
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                img{
                    width : 6em;
                    margin-bottom: 10px;
                    @media (max-width : 420px){
                        width : 5em;
                    }
                }
                h4{
                    font-family: $oswald;
                    background-image : linear-gradient(
                        to bottom,
                        $blue,
                        darken($blue,5%),
                    );
                    padding : 0.3em 0.4em;
                    border-radius: 4px;
                    color: white;
                    font-weight: 400;
                    @media (max-width : 420px){
                        font-size: 0.8em;
                    }
                    @media (max-width : 320px){
                        font-size: 0.7em;
                    }
                }
                margin : 0 15px;
            }
            .message{
                width : 65%;
                .text{
                    font-family: $oswald;
                    font-weight: 400;
                    font-size: 0.9em;
                    margin-bottom: 10px;
                    color: lighten($green,8%);
                    @media (max-width : 420px){
                        font-size: 0.8em;
                    }
                    @media (max-width : 420px){
                        font-size: 0.7em;
                    }
                }
                .datetime{
                    font-family: $nunito;
                    font-size: 0.8em;
                    font-weight: 600;
                    color: rgba($green,0.6);
                }
            }
        }
    }
}