.search-results{
    .search-box{
        background-color: rgba($green,0.5);
        border-radius: 5px;
        padding : 1em;
        width : 80%;
        margin : 1em auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width : 1024px){
            width: 90%;
        }
        @media (max-width : 768px){
            width: 95%;
        }
        @media (max-width : 420px){
            flex-flow: column;
        }
        .pincode{
            input{
                font-size: 1.1em;
                border-radius: 5px 0 0 5px;
                margin-bottom: 10px;
            }
            .pincode-result{
                font-family: $nunito;
                font-size: 0.8em;
                font-weight: bold;
                color: $green;
                @media (max-width : 420px){
                    margin-bottom: 10px;
                }
            }
        }
        .search-query{
            input{
                font-size: 1.1em;
                border-radius: 0;
                margin-bottom: 10px;
            }
            .query-result{
                font-family: $nunito;
                font-size: 0.8em;
                font-weight: bold;
                color: $green;
            }
        }
        .search{
            font-family: $oswald;
            padding : 0.5em 0.7em;
            font-size: 1.11em;
            transform: translateY(-14px);
            border-radius: 0 5px 5px 0;
            border : none;
            transition: all 0.3s;
            @include click_1;
            cursor: pointer;
            background-image: linear-gradient(
                to bottom,
                $green,
                darken($green, 8%),
            );
            color: white;
            outline: none;
            @media (max-width : 420px){
                margin-top: 8px;
                transform: translateY(0);
                width: 85%;
                border-radius: 5px;
            }
            
        }
    }
    .results-container{
        margin : 2em auto;
        width : 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width : 1280px){
            width: 90%;
        }
        @media (max-width : 768px){
            width: 95%;
        }
        .single-result{
            border: 1px solid $green;
            display: flex;
            align-items: center;
            width : 47%;
            @media (max-width : 1280px){
                width: 40%;
            }
            @media (max-width : 1024px){
                width: 48%;
                margin : 0.5em;
            }
            @media (max-width : 768px){
                width: 60%;
                margin : 0.5em;
            }
            @media (max-width : 420px){
                width: 100%;
                margin : 0.5em;
            }
            padding : 1em;
            margin : 1em;
            border-radius: 4px;
            img{
                width : 150px;
                margin-right: 8px;
                height: 100%;
                object-fit: contain;
                @media (max-width : 375px){
                    width : 100px;
                }
            }
            .info{
                h4{
                    a{
                        text-decoration: none;
                        font-family: $oswald;
                        font-size: 1.1em;
                        font-weight: 500;
                        color: $green;
                        @media (max-width : 420px){
                            font-size: 1em;
                        }
                        @media (max-width : 320px){
                            font-size: 0.9em;
                        }
                    }
                }
                .prescription{
                    margin : 0.5em 0;
                    display: flex;
                    div{
                        
                        font-family: $oswald;
                        font-size: 0.6em;
                        padding : 0.4em;
                        width : fit-content;
                        color: white;
                        border-radius: 3px;
                    }
                    .yes{
                        background-color: darken($yellow,10%);

                    }
                    .no{
                        background-color: lighten($green,5%);
                    }
                }
                .packet{
                    font-family: $nunito;
                    font-size: 0.9em;
                    color: rgba($black , 0.4);
                }
                .price{
                    display: flex;
                    margin : 0.5em 0;
                    align-items: center;
                    div{
                        font-family: $oswald;
                    }
                    .selling-price{
                        margin-right: 20px;
                        font-weight: bold;
                        color: $green;
                        font-size: 1.5em;
                    }
                    .mrp{
                        margin-right: 10px;
                        color: rgba($red,0.7);
                        text-decoration: line-through;
                    }
                    .discount{
                        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 30% 50%, 0% 0%);
                        background-color: $blue;
                        padding : 5px 0;
                        padding-left : 30px;
                        padding-right: 8px;
                        border-radius: 0 3px 3px 0;
                        color: white;
                        font-size: 0.8em;
                        
                    }
                }
                .cart-controls{
                    display: flex;
                    justify-content: start;
                    button{
                        font-size: 1.2em;
                        padding : 0.3em 0.5em;
                        color: white;
                        border: none;
                        transition: all 0.3s;
                        @include click_1;
                        cursor: pointer;
                        outline: none;
                    }
                    .plus{
                        background-color: $green;
                    }
                    .minus{
                        background-color: $red;
                    }
                    .quantity{
                        width : 80px;
                    }
                }
            }
        }
    }
}