@font-face {
    font-family: "Nunito";
    src: url("../../font/Nunito/Nunito-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("../../font/Nunito/Nunito-Light.ttf") format("ttf");
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: "Oswald";
    src: url("../../font/Oswald/Oswald-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}