.navigation{
    display: flex;
    align-items: center;
    @media (max-width : 420px){
        display: flex;
        flex-flow: column;
        .options{
            margin-bottom : 0.8em;
        }
    }
    @include fold_svg;
    justify-content: space-between;
    @include bar_shadow(darken($green,10%));
    .brand{
        padding : 0.5em 0.7em;
        h1{
            font-family: $nunito;
            color: white;
        }
    }
    .menu{
        position: fixed;
        right : -210px;
        bottom : 0;
        background-color: $black;
        height: 100vh;
        padding : 1em;
        z-index : 10;
        width : 200px;
        transition: all 0.4s;
        @include left_shadow($black);
        
        .hamburger{
            position: absolute;
            right : 230px;
            bottom : 20px;
            cursor: pointer;
            transition: all 0.4s;
            @include click_1;
            span{
                display: block;
                height : 5px;
                width : 30px;
                margin : 5px 0;
                background-color: darken($green,10%);
            }
           
        }
        ul{
            font-family: $oswald;
            display: flex;
            flex-flow: column;
            
            justify-content: flex-end;
            list-style-type: none;
            height: 100%;
            li{
                margin : 0.5em;
                transition: all 0.45s;
                border-radius: 5px;
                padding : 0.4em;
                user-select: none;
                a{
                    text-decoration: none;
                    color : white;
                }
                &:hover{
                    background-color: white; 
                    transform: translateY(-5px); 
                    a{
                        color: $green;
                    }  
                }
                &:active{
                    transform: translateY(5px);
                }
            }
        }
    }
    .active{
        right : 0;
    }
    .options{
        padding : 0 0.7em;
        width : 20em;
        ul{
            list-style-type: none;
            font-family: $oswald;
            display: flex;
            justify-content: space-evenly;
            li{
                
                a{
                    transition: all 0.3s;
                    font-size: 0.9em;
                    color: white;
                    text-decoration: none;
                    &:hover{
                        transform: translateY(-5px);
                        color: lighten($green, 20%);
                    }
                    &:active{
                        transform: translateY(10px);
                        color: $yellow;
                    }
                }
                
            }
        }
    }
}


.navigation-2{
    background-color: $blue;
    @include bar_shadow(darken($blue,10%));
    .search-bar{
        padding-top: 10px;
        display: flex;
        align-items: center;
        @media (max-width : 420px){
            flex-flow: column;
            justify-content: center;
            
        }
        .brand{
            
            img{
                width : 250px;
                @media (max-width : 420px){
                    width : 90%px;
                    
                }
                height: 50px;
                object-fit: cover;
            }
            @media (max-width : 420px){
                padding-bottom: 10px;
            }
        }
        .search{
            display: flex;
            align-items: center;
            
            @media (max-width : 420px){
                margin-bottom: 1em;
            }
            input{
                width : 600px;
                @media (max-width : 1024px){
                    width : 400px;
                }
                @media (max-width : 420px){
                    width : 350px;
                }
                @media (max-width : 375px){
                    width : 320px;
                }
                @media (max-width : 360px){
                    width : 300px;
                }
                @media (max-width : 320px){
                    width : 250px;
                }
                height : 40px;
                border-radius: 5px 0 0 5px;
                color: $blue;
            }
            button{
                cursor: pointer;
                border: none;
                padding : 10px;
                border-radius: 0 5px 5px 0;
                background-color: white;
                outline-color: $green;
                @include click_1;
                transition:  all 0.3s;
                i{
                    font-size: 20px;
                    color: $blue;
                }
            }
        }
        .options{
            width : 100%;
            @media (max-width : 768px){
                display: none;
            }
            ul{
                width : 90%;
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                align-items: center;
                user-select: none;
                li{
                    font-family: $oswald;
                    font-size: 0.9em;
                    @media (max-width : 1024px){
                        font-size: 0.8em;
                    }
                    color: white;
                    cursor: pointer;
                }
                .cart-toggle , .pincode-toggle{
                    padding : 0.2em;
                    border-radius: 3px;
                    transition: all 0.2s;
                    &:active{
                        background-color: white;
                        color: $green;
                    }
                }
            }
        }
    }
    .main-menu{
        padding-bottom: 5px;
        ul{
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            li{
                font-family: $nunito;
                text-transform: uppercase;
                font-size: 0.9em;
                @media (max-width : 420px){
                    font-size: 0.7em;
                }
                @media (max-width : 375px){
                    font-size: 0.65em;
                }
                @media (max-width : 360px){
                    font-size: 0.65em;
                }
                @media (max-width : 320px){
                    font-size: 0.55em;
                }
                a{
                    text-decoration: none;
                    color: white;
                    transition: all 0.5s;
                }
                transition: all 0.5s;
                &:hover{
                    a{
                        color: lighten($green,10%);
                        
                    }
                }
            }
        }
    }
    .side-menu{
        position: fixed;
        right : -230px;
        bottom : 0;
        background-color: $black;
        height: 100vh;
        padding : 1em;
        z-index : 99;
        width : 220px;
        transition: all 0.4s;
        @include left_shadow($black);
        
        .hamburger{
            position: absolute;
            right : 250px;
            bottom : 20px;
            cursor: pointer;
            transition: all 0.4s;
            @include click_1;
            span{
                display: block;
                height : 5px;
                width : 30px;
                margin : 5px 0;
                background-color: $black;
            }
           
        }
        ul{
            font-family: $oswald;
            display: flex;
            flex-flow: column;
            
            justify-content: flex-end;
            list-style-type: none;
            height: 100%;
            li{
                margin : 0.5em;
                transition: all 0.45s;
                border-radius: 5px;
                padding : 0.4em;
                user-select: none;
                a{
                    text-decoration: none;
                    color : white;
                }
                &:hover{
                    background-color: white; 
                    transform: translateY(-5px); 
                    a{
                        color: $green;
                    }  
                }
                &:active{
                    transform: translateY(5px);
                }
            }
            .small-screen{
                display: none;
                a{
                    color: white;
                }
                @media (max-width : 768px){
                    display: block;
                }
            }
        }
    }
    .active{
        right : -1px;
    }
}