.navigation{
    .options{
        .cart-btn{
            span{
                color: white;
                cursor: pointer;
                @include click_1;
                user-select: none;
            }
            .cart-popup{
                height : 0px;
                width : 0px;
                background-color: $green;
                position: absolute;
                right : 3px;
                top : 49px;
                z-index: 4;
                border-radius: 5px;
                transition: all 0.4s;
                overflow: auto;
                &::-webkit-scrollbar{
                    display: none;
                }
                
                .cart-content{
                    position: relative;
                    padding-bottom: 1em;
                    display: none;
                    padding : 1em;
                    width : 100%;
                    h4{
                        text-transform: uppercase;
                        color: white;
                        font-weight: 400;
                        border-bottom: 1px solid white;
                        padding-bottom: 0.5em;
                    }
                    .items{
                        margin : 0.5em 0;
                        .single-item{
                            display: flex;
                            margin : 0.4em 0;
                            justify-content: space-between;
                            align-items: center;
                            img{
                                width : 80px;

                            }
                            .info{
                                width : 180px;
                                h5{
                                    font-weight: 400;
                                }
                                p{
                                    
                                }
                                .price{
                                    font-size: 0.9em;
                                    background-color: white;
                                    color: $green;
                                    width : fit-content;
                                    margin : 0.4em 0;
                                    padding : 0.3em 0.6em;
                                    border-radius: 4px;
                                }
                                .quantity{
                                    font-size: 0.7em;
                                    color: white;
                                }
                            }
                        }
                    }
                    .go-to-cart{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding : 0.8em;
                    }
                }
            }
            .active{
                height : 400px;
                width : 300px;
                .cart-content{
                    display: block;
                }
            }
        }
    }
}